<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SupplierConnection">
 

<test name="Login">

    <classes>
        <class name="com.supplierconnection.testcases.LoginTest"></class>  
    </classes>
    
</test>
<test name="ChangePassword">
<classes>
        <class name="com.supplierconnection.testcases.ChangePassword"></class>  
    </classes>

</test>
</suite>
